<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Quote</title>

    <style>
        body{
            background-color: #efd3d7;
        }
        section{
            border: 4px solid rgb(94, 86, 87);
            padding: 16px;
            margin: 40px auto;
            width: 500px;
            background-color: #3d405b;
            color:white;
            word-wrap: break-word;
        }
        a{
            margin-left: 650px;;
            
        }
        button{
        width:100px;
        height:60px;
        color:white

        background-color:#3d405b;
        border:none;
    }
    button:hover{
        background-color:#3d405b;
        color:white;
    }
    </style>

</head>
<body>
    <a href="/quotes"><button>All Quotes</button></a>
    <section>
        <h3><%= quote.description %> </h3>
        <p><i><%= quote.name %></i> </p>
    </section>

</body>
</html>